<main class="bg-slate-800 h-screen">
  <section>
    <header class="flex justify-center p-4 bg-blue-400 text-white font-bold">
      <h1>Todo App</h1>
    </header>
  </section>
  <section>
    <button (click)="modal = true" class="fixed right-20 bottom-20 bg-green-500 text-white flex justify-center items-center w-10 h-10 rounded-full hover:bg-green-600 duration-500 text-3xl">
      <span>+</span>
    </button>
    <div class="w-6/12  mt-16 mr-auto ml-auto">
      <div class="flex items-center justify-between">
        <h1 class="text-white">Todo</h1>
      </div>
      <div *ngFor="let todo of todos">
        <div *ngIf="!todo.completed" class="flex justify-between p-2 hover:bg-slate-700 rounded-md items-center mb-1 duration-300">
          <div>
            <input type="checkbox" (change)="updatelist(todo)" [ngModel]="todo.completed" class="mr-2 hover:cursor-pointer">
            <span class="text-white">{{ todo.title }}</span>
          </div>
          <span>
            <button (click)="editItem(todo)" class="p-1 px-3 border border-blue-500 rounded-md mr-2 text-white hover:bg-blue-500 duration-500">Edit</button>
            <button (click)="deleteItem(todo)" class="border border-red-800 p-1 px-3 rounded-md text-white hover:bg-red-500 duration-500">Delete</button>
          </span>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="w-6/12  mt-16 mr-auto ml-auto">
      <h1 class="text-white mb-3">Completed</h1>
      <div *ngFor="let todo of todos" >
        <div *ngIf="todo.completed" class="flex justify-between p-2 items-center mb-1 rounded-md duration-300">
          <div>
            <input type="checkbox" (change)="updatelist(todo)" [ngModel]="todo.completed" class="mr-2 hover:cursor-pointer">
            <span class="text-white line-through">{{ todo.title }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="modal" class="absolute top-0 left-0 right-0 bottom-0 backdrop-sepia-0 bg-white/30 flex justify-center items-center">
    <div class="p-3 border border-gray-600 bg-slate-800 rounded-md w-80">
      <span class="flex justify-between items-center">
        <h2 class="mb-1 text-white">Add New</h2>
        <span (click)="modal = false" class="w-6 h-6 bg-transparent hover:bg-red-400 rounded-full flex items-center justify-center mb-2 duration-500">
          <span class="text-white p-1 hover:cursor-pointer text-xs">X</span>
        </span>
      </span>
      <hr class="mb-2 border-gray-400">
      <input type="text" name="todo" #todo class="px-3 py-2 bg-gray-700 text-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 mb-2" placeholder="Buy Apples">
      <button (click)="addNewItem(todo.value)" class="bg-green-500 text-white p-2 px-3 rounded-md hover:bg-green-600 duration-500 w-full">Save</button>
    </div>
  </section>

  <section *ngIf="editModal" class="absolute top-0 left-0 right-0 bottom-0 backdrop-sepia-0 bg-white/30 flex justify-center items-center">
    <div class="p-3 border border-gray-600 bg-slate-800 rounded-md w-80">
      <span class="flex justify-between items-center">
        <h2 class="mb-1 text-white">Edit Todo</h2>
        <span (click)="editModal = false" class="w-6 h-6 bg-transparent hover:bg-red-400 rounded-full flex items-center justify-center mb-2 duration-500">
          <span class="text-white p-1 hover:cursor-pointer text-xs">X</span>
        </span>
      </span>
      <hr class="mb-2 border-gray-400">
      <input type="text" [ngModel]="editContent.title" name="todo" #todo class="px-3 py-2 bg-gray-700 text-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 mb-2" placeholder="Buy Apples">
      <button (click)="saveEditItem(todo.value)" class="bg-green-500 text-white p-2 px-3 rounded-md hover:bg-green-600 duration-500 w-full">Save</button>
    </div>
  </section>
</main>
<router-outlet></router-outlet>
